<div class="container">

<!--------------------------------- 使用者個人info --------------------------------->
  <table>
    <tr>
      <td rowspan="5" class="col-md-4">
        <% if @user.avatar? %>
          <%= image_tag @user.avatar.url, width: '200px' %>
        <% else %>
          <%= image_tag ("800x600.png"), width: '200px' %>
        <% end %>
      </td>
      <td>
        <% if @user.name? %>
          <h4><%= @user.name %></h4>
        <% else %>
          <h4>User Name</h4>
        <% end %>
      </td>
    </tr>
      <td class="text-muted"><%= @user.email %></td>
    </tr>
    
    <tr><td>
    <ul class="list-unstyled list-inline">
      <li><em><%= @commented_restaurants.count %> 已評論餐廳 </em></li>
      <li><em><%= @favorited_restaurants.count %> 收藏的餐廳 </em></li>
      <li><em><%= @followings.count %> followings </em></li>
      <li><em><%= @followers.count %> followers </em></li>
      <li><em>  
        <%= link_to friend_list_user_path(@user) do %>
          好友列表 (<%= @user.all_friends.count %> 個好友)
        <% end %>
      </em></li>
    </ul>
    </td></tr>

    <tr>
      <td>
        <% if @user.intro? %>
          <%= simple_format(@user.intro) %>
        <% else %>
          <p><em>About me...</em></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <% if @user.email == current_user.email %><%# 重要 %>
          <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
        <% end %>
        
        <%= render partial: "shared/follow", locals: {user: @user} %>
        <%= render partial: "shared/friend", locals: {user: @user} %>
      </td>
    </tr>
  </table>

  <br>

<!------------------------------------- 左邊區塊 ------------------------------------->

  <div class="col-md-4">

    <!-- followings -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @followings.count %> followings</h3>
      </div>

      <ul class="list-group">
        <% @followings.each do |following| %>
        <li class="list-group-item">
          <%= link_to user_path(following) do %>

            <% if following.avatar? %>
              <%= image_tag(following.avatar.url, height: 30, width: 30, class: "img-circle") %>
            <% else %>
              <%= image_tag("128x128.png", height: 30, width: 30, class: "img-circle") %>
            <% end %>

            <%= following.name %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

    <!-- followers -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @followers.count %> followings</h3>
      </div>

      <ul class="list-group">
        <% @followers.each do |follower| %>
        <li class="list-group-item">
          <%= link_to user_path(follower) do %>

            <% if follower.avatar? %>
              <%= image_tag(follower.avatar.url, height: 30, width: 30, class: "img-circle") %>
            <% else %>
              <%= image_tag("128x128.png", height: 30, width: 30, class: "img-circle") %>
            <% end %>

            <%= follower.name %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

    <!-- friends -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.all_friends.count %> 個好友</h3>
      </div>

      <ul class="list-group">
        <% @user.all_friends.each do |friend| %>
        <li class="list-group-item">
          <%= link_to user_path(friend) do %>

            <% if friend.avatar? %>
              <%= image_tag(friend.avatar.url, height: 30, width: 30, class: "img-circle") %>
            <% else %>
              <%= image_tag("128x128.png", height: 30, width: 30, class: "img-circle") %>
            <% end %>

            <%= friend.name %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>


  </div><!-- col-md-4 -->

<!------------------------------------- 右邊區塊 ------------------------------------->

  <div class="col-md-8">

    <!-- 收藏的餐廳 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @favorited_restaurants.count %> 收藏的餐廳</h3>
      </div>
    
      <div class="panel-body">

        <% @favorited_restaurants.each do |restaurant| %>
          <div class="my-restaurant">
            <div class="col-md-4">
              <%= link_to restaurant_path(restaurant) do %>

                <% if restaurant.image? %>
                  <%= image_tag restaurant.image.url, width: '200px', class: "img-responsive img-rounded" %>
                <% else %>
                  <%= image_tag ("800x600.png"), width: '200px', class: "img-responsive img-rounded" %>
                <% end %>

                <h5><%= truncate(restaurant.name, length: 15) %></h5>

              <% end %>
            </div>
          </div><!-- my-restaurant -->
        <% end %>

      </div><!-- panel-body -->
    </div>

    <!-- 評論過的餐廳 -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @commented_restaurants.uniq.count %> 間評論過的餐廳</h3>
      </div>
    
    <div class="panel-body">

      <% @commented_restaurants.uniq.each do |restaurant| %><%# uniq 不顯示重複的餐廳 %>
        <div class="my-restaurant">
          <div class="col-md-4">
            <%= link_to restaurant_path(restaurant) do %>

              <% if restaurant.image? %>
                <%= image_tag restaurant.image.url, width: '200px', class: "img-responsive img-rounded" %>
              <% else %>
                <%= image_tag ("800x600.png"), width: '200px', class: "img-responsive img-rounded" %>
              <% end %>

              <h5><%= truncate(restaurant.name, length: 15) %></h5>

            <% end %>
          </div>
        </div><!-- my-restaurant -->
      <% end %>

    </div><!-- panel-body -->

  </div><!-- col-md-8 -->

</div>