<div class="container">

  <h2>餐廳分類總表</h2>

  <div>
    <%= link_to 'Restaurant', admin_restaurants_path %> |
    <%= link_to 'Categories', admin_categories_path %>
  </div>

  <br>

  <div class="form-inline" >
    <%= form_for [:admin, @category] do |f| %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "Category Name",  class: "form-control" %>
      </div>
      <%= f.submit class: "btn btn-primary" %>
      
      <%# 顯示錯誤訊息 %>
      <% if @category.errors.any? %>
        <%= @category.errors.full_messages.to_sentence %>
      <% end %>
    <% end %>
  </div>

  <br>

  <div class="col-md-12">

    <table class="table table-striped table-bordered">
      <tr>
        <th>#</th>
        <th>Category Name</th>
        <th></th>
      </tr>

      <% @categories.each do |category| %>
      <tr>
        <td class="col-md-1"><%= category.id %></td>
        <td class="col-md-8"><%= category.name %></td>
        <td class="col-md-3">
          <%= link_to 'Edit', admin_categories_path(id: category.id) %> &emsp;
          <%= link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: "Are you sure?"} %>
        </td>
      </tr>
      <% end %><%# 勿忘!! %>
    </table>

  </div>

</div>
